body {
  font: normal normal normal 0.75em/1.2 'Helvetica', sans-serif;
  color: #666;
}

strong {
  color: #000;
}

a {
  color: #000;
}

body#maintenance {
  margin: 1.7em 1.8em;
     -moz-background-size: cover;
       -o-background-size: cover;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
}

.ie body#maintenance {
  background-position: center 0;
}

#maintenance header, #maintenance article {
  opacity: 0.9;
  width: 17em;
}

.ie #maintenance header, .ie #maintenance article {
  width: 17.1em;
}

#maintenance header {
  background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 106 18'%3E%3Cpath d='M10.62 17.54v-2.8h-6.6L8.8 9.19c1.17-1.37 1.82-2.25 1.82-3.91 0-3.07-2.16-4.97-5.18-4.97C2.5.31.23 2.18.23 5.31h3.12c0-1.66 1.06-2.19 2.09-2.19 1.32 0 2.06.86 2.06 2.14 0 .79-.26 1.32-.89 2.06L.23 14.74v2.8zM24.92 12.29h-3.39c-.33 1.39-1.22 2.42-2.88 2.42-.9 0-1.65-.33-2.13-.89-.63-.72-.84-1.56-.84-4.82 0-3.26.21-4.1.84-4.82a2.76 2.76 0 0 1 2.13-.9c1.66 0 2.52 1.04 2.86 2.43h3.4c-.62-3.57-3.06-5.4-6.26-5.4-1.96 0-3.4.65-4.58 1.8-1.7 1.7-1.73 3.63-1.73 6.89s.03 5.18 1.73 6.89a6.18 6.18 0 0 0 4.58 1.8c3.17 0 5.64-1.83 6.27-5.4zM35.76 6.07a3.77 3.77 0 0 0-2.95-1.17c-1.34 0-2.54.62-3.14 1.34v-1.2h-3.05v12.5h3.12v-7.53c0-1.59 1.05-2.3 2.01-2.3.77 0 1.18.26 1.66.74zM46.19 12.26v-1.32c0-3.55-1.97-6.04-5.45-6.04-3.24 0-5.45 2.3-5.45 6.38 0 5.06 2.83 6.4 5.79 6.4 2.25 0 3.48-.66 4.75-1.96l-1.9-1.85a3.53 3.53 0 0 1-2.83 1.18c-1.78 0-2.74-1.15-2.74-2.79zm-3.07-2.13h-4.76c.03-.55.08-.89.3-1.35a2.17 2.17 0 0 1 2.08-1.3c1.06 0 1.75.56 2.09 1.3.21.46.26.8.29 1.35zM57.35 17.54V9.31c0-2.93-1.8-4.41-5.32-4.41-2.1 0-3.27.43-4.5 1.77l1.98 1.95a2.77 2.77 0 0 1 2.4-1.08c1.65 0 2.32.6 2.32 1.96v.63h-2.9c-2.95 0-4.32 1.63-4.32 3.62a4 4 0 0 0 1.03 2.81c.72.72 1.78 1.1 3.2 1.1 1.43 0 2.23-.36 3.07-1.2v1.08zm-3.12-4.6c0 .79-.12 1.27-.48 1.58-.52.5-1.08.6-1.84.6-1.3 0-1.9-.55-1.9-1.42 0-.93.6-1.44 1.85-1.44h2.37zM65.1 17.54V14.9h-1.14c-.74 0-1.08-.4-1.08-1.12v-6h2.21V5.4h-2.2V1.7h-3.13v3.7h-1.32v2.38h1.32v6.19c0 1.77 1.08 3.57 3.63 3.57zM69.8 17.54V5.4h-3.12v12.14zm.03-14.64V.36h-3.2V2.9zM83.24 5.04h-3.3l-2.51 7.73-2.55-7.73H71.6l4.6 12.5h2.45zM94.18 12.26v-1.32c0-3.55-1.97-6.04-5.45-6.04-3.24 0-5.44 2.3-5.44 6.38 0 5.06 2.83 6.4 5.78 6.4 2.26 0 3.48-.66 4.75-1.96l-1.9-1.85a3.53 3.53 0 0 1-2.83 1.18c-1.77 0-2.73-1.15-2.73-2.79zm-3.07-2.13h-4.75c.02-.55.07-.89.29-1.35a2.17 2.17 0 0 1 2.08-1.3c1.06 0 1.76.56 2.1 1.3.2.46.26.8.28 1.35zM105.77 13.6c0-2.13-1.25-3.42-3.72-3.66l-1.97-.2c-.93-.1-1.3-.45-1.3-1.08 0-.62.53-1.2 1.78-1.2 1.1 0 2.19.2 2.9.84l1.93-1.94c-1.2-1.1-2.81-1.46-4.78-1.46-2.54 0-4.82 1.36-4.82 3.98 0 2.3 1.39 3.29 3.6 3.5l2.01.2c1 .1 1.32.52 1.32 1.15 0 .93-1.13 1.3-2.2 1.3-.97 0-2.33-.15-3.34-1.18l-2.04 2.04c1.6 1.58 3.36 1.8 5.33 1.8 2.95 0 5.3-1.32 5.3-4.08z'/%3E%3C/svg%3E") no-repeat 1.5em 1.7em;
  display: block;
  background-size: 170px 29px;
}

#maintenance h1 {
  display: block;
  height: 0;
  overflow: hidden;
  padding-top: 2.75em;
  margin-bottom: 0.42em;
}

.ie #maintenance header {
  /* IE7 */
  *height: 5.5em;
}


.ie #maintenance h1 {
  margin: 0;
}

#maintenance article {
  display: block;
  padding: 1px 0;
  background: white;
}

.ie #maintenance article {
  margin-top: 0.8em;
}

#maintenance article p {
  margin: 1.45em 1.5em;
}

#maintenance .liame {
  margin-top: 0.7em;
  display: block;
}
